__pycache__/
.pytest_cache
**/__pycache__
.vscode/

.env
.venv

logs

airflow/logs/*
!airflow/logs/.gitkeep

airflow/plugins/*
!airflow/plugins/.gitkeep

donnees_brutes/offre_emploi/*
!donnees_brutes/offre_emploi/.gitkeep

donnees_brutes/cog_carto/*
!donnees_brutes/cog_carto/.gitkeep

donnees_brutes/sirene/*
!donnees_brutes/sirene/.gitkeep

donnees_brutes/rome/*
!donnees_brutes/rome/.gitkeep

duckdb.exe

stockage/*
!stockage/.gitkeep
!stockage/docs